
CREATE PROCEDURE [dbo].[sp_ContratoActivoPorEmpleado]
    @empleado_id INT
AS
BEGIN
    SELECT TOP 1 id, empleado_id, cargo, area, tipo_contrato,
                 fecha_inicio, fecha_fin, sueldo_base, sistema_pension, estado
    FROM dbo.Contrato
    WHERE empleado_id = @empleado_id AND estado = 'ACTIVO'
    ORDER BY fecha_inicio DESC;
END

GO


CREATE   PROCEDURE [dbo].[sp_listarEmpleados]

AS
BEGIN
    SET NOCOUNT ON;

    select id, nombres , apellidos 

    from Empleado

    where estado = 'ACTIVO'

END
GO

CREATE  PROCEDURE [dbo].[sp_PlanillaActualizarEstado]
    @id     INT,
    @estado NVARCHAR(20)
AS
BEGIN
    UPDATE dbo.Planilla SET estado = @estado WHERE id = @id;
END
GO

CREATE  PROCEDURE [dbo].[sp_PlanillaDetalleEliminar]
    @planilla_id INT
AS
BEGIN
    DELETE FROM dbo.PlanillaDetalle WHERE planilla_id = @planilla_id;
END

GO

CREATE  PROCEDURE [dbo].[sp_PlanillaDetalleInsertar]
    @planilla_id INT,
    @concepto_id INT,
    @monto       DECIMAL(10,2),
    @cantidad    DECIMAL(10,2),
    @descripcion NVARCHAR(200)
AS
BEGIN
    INSERT INTO dbo.PlanillaDetalle
        (planilla_id, concepto_id, monto, cantidad, descripcion)
    VALUES
        (@planilla_id, @concepto_id, @monto, @cantidad, @descripcion);
END
GO


CREATE  PROCEDURE [dbo].[sp_PlanillaDetalleListar]
    @planilla_id INT
AS
BEGIN
    SELECT pd.id, pd.planilla_id, pd.concepto_id,
           c.nombre AS concepto_nombre, c.tipo AS concepto_tipo,
           pd.monto, pd.cantidad, pd.descripcion
    FROM dbo.PlanillaDetalle pd
    INNER JOIN dbo.Concepto c ON c.id = pd.concepto_id
    WHERE pd.planilla_id = @planilla_id
    ORDER BY c.tipo, c.nombre;
END
GO

CREATE  PROCEDURE [dbo].[sp_PlanillaEliminar]
    @id INT
AS
BEGIN
    DELETE FROM dbo.PlanillaDetalle WHERE planilla_id = @id;
    DELETE FROM dbo.Planilla WHERE id = @id;
END
GO

CREATE PROCEDURE [dbo].[sp_PlanillaListar]
AS
BEGIN
    SELECT p.id, p.empleado_id, p.contrato_id, p.periodo,
           p.fecha_generacion, p.estado,
           e.nombres + ' ' + e.apellidos AS nombre_empleado,
           c.sueldo_base, c.cargo
    FROM dbo.Planilla p
    INNER JOIN dbo.Empleado e ON e.id = p.empleado_id
    INNER JOIN dbo.Contrato c ON c.id = p.contrato_id
    ORDER BY p.periodo DESC, e.apellidos;
END
GO

CREATE  PROCEDURE [dbo].[sp_PlanillaObtener]
    @id INT
AS
BEGIN
    SELECT p.id, p.empleado_id, p.contrato_id, p.periodo,
           p.fecha_generacion, p.estado,
           e.nombres + ' ' + e.apellidos AS nombre_empleado,
           c.sueldo_base, c.cargo
    FROM dbo.Planilla p
    INNER JOIN dbo.Empleado e ON e.id = p.empleado_id
    INNER JOIN dbo.Contrato c ON c.id = p.contrato_id
    WHERE p.id = @id;
END
GO
CREATE PROCEDURE [dbo].[sp_PlanillaRegistrar]
    @empleado_id INT,
    @contrato_id INT,
    @periodo CHAR(7),
    @estado NVARCHAR(20)
AS
BEGIN
    SET NOCOUNT ON;

    INSERT INTO dbo.Planilla (
        empleado_id,
        contrato_id,
        periodo,
        estado
    )
    OUTPUT INSERTED.id
    VALUES (
        @empleado_id,
        @contrato_id,
        @periodo,
        @estado
    );
END

GO

CREATE PROCEDURE [dbo].[sp_VacacionAprobar]
    @vacacion_id  INT,
    @revisado_por INT
AS
BEGIN
    -- Obtener días solicitados
    DECLARE @dias INT;
    SELECT @dias = dias_solicitados FROM dbo.Vacacion WHERE id = @vacacion_id;

    -- Cambiar estado
    UPDATE dbo.Vacacion
    SET estado = 'APROBADA', revisado_por = @revisado_por
    WHERE id = @vacacion_id;

    -- Descontar días disponibles del empleado
    UPDATE dbo.Empleado
    SET dias_vacaciones_disponibles = dias_vacaciones_disponibles - @dias
    WHERE id = (SELECT empleado_id FROM dbo.Vacacion WHERE id = @vacacion_id);
END
GO

CREATE  PROCEDURE [dbo].[sp_VacacionListarPorEmpleado]
    @empleado_id INT
AS
BEGIN
    SELECT v.id, v.empleado_id,
           e.nombres + ' ' + e.apellidos AS nombre_empleado,
           v.fecha_solicitud, v.fecha_inicio, v.fecha_fin,
           v.dias_solicitados, v.estado, v.observacion, v.revisado_por
    FROM dbo.Vacacion v
    INNER JOIN dbo.Empleado e ON e.id = v.empleado_id
    WHERE v.empleado_id = @empleado_id
    ORDER BY v.fecha_solicitud DESC;
END
GO

CREATE PROCEDURE [dbo].[sp_VacacionRechazar]
    @vacacion_id  INT,
    @revisado_por INT,
    @observacion  NVARCHAR(200)
AS
BEGIN
    UPDATE dbo.Vacacion
    SET estado = 'RECHAZADA',
        revisado_por = @revisado_por,
        observacion = @observacion
    WHERE id = @vacacion_id;
END
GO

CREATE   PROCEDURE [dbo].[sp_VacacionRegistrar]
    @empleado_id      INT,
    @fecha_solicitud  DATE,
    @fecha_inicio     DATE,
    @fecha_fin        DATE,
    @dias_solicitados INT,
    @observacion      NVARCHAR(200)
AS
BEGIN
    INSERT INTO dbo.Vacacion
        (empleado_id, fecha_solicitud, fecha_inicio, fecha_fin,
         dias_solicitados, estado, observacion)
    VALUES
        (@empleado_id, @fecha_solicitud, @fecha_inicio, @fecha_fin,
         @dias_solicitados, 'PENDIENTE', @observacion);

    SELECT SCOPE_IDENTITY() AS nuevo_id;
END
GO

CREATE   PROCEDURE [dbo].[sp_PlanillaActualizar]
    @id      INT,
    @periodo CHAR(7),
    @estado  NVARCHAR(20)
AS
BEGIN
    UPDATE dbo.Planilla 
    SET estado  = @estado,
        periodo = @periodo
    WHERE id = @id;
END

GO


